player-connection-mode=Listen
player-connection-guid=4001392088
player-connection-debug=0
player-connection-project-name=PhotonMinigame
player-connection-ip=192.168.1.116
player-connection-ip=172.21.16.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
